body{
    margin: 0;
 }
 .navBar{
     background-color: #fff78b;
     color: #FFDD67;
     
     height: 90px;
    

     
 }

 .navBar a{
     text-decoration: none;
 }

 .tf{
     display: inline-block;background-color: #1e004c;
     color: #edc32b;
     margin-top : 10px;
     margin-right: 20px;
     margin-left: 8px;
     font-size: 40px;
     padding: 5px;
     border : 3px ridge #edc32b;;
     border-radius: 50px;
     
     
     
 }
 .tm{
     display: inline-block;
     text-decoration: none;
     font-size: 20px;
     color: #6601ff;
     margin-top: 2px;
     margin-right: 10px;
     padding-left: 20px;
     
 }
 .tm a:hover{
     background-color: #1e004c;
     color: #edc32b;
     border-radius: 2px;
     padding: 5px;
 }
 .login{
     display: inline-block;background-color: #ffeb14;
     color: #4a18ff;
     margin-top : 25px;margin-right: 8px;
     font-size: 20px;
     float : right;
     padding: 5px;
     border : 3px solid #4a18ff;
     border-radius: 3px;
     
     
 }
 .sidePanel{
     font-size: 20px;
     background-color: #e8d6ff ;color: #5300ce;
     float : left;
     width: 20%;height: 1000px;
     
 }
 .myDiv{

     background-color: #a6b9ff ;
     font-size: 20px;height: 1000px;
     float: right;
     width: 80%;
    
 }
 #stquote{
     color: #4000a1;
     background-color: #edc32b;
     margin-top: 10px;margin-left: 10px;margin-right: 10px;
     height: auto;
     font-family: Brush Script MT, Brush Script Std, cursive;
     font-size: 40px;
     border-left : 20px solid #001f9d;;
     border-radius: 0px;
     padding: 20px;
     font-weight: bolder; 


 }
 
 .footer{
     background-color: #c4c4c4;
     clear: both;
     text-align: center;font-size: 20px;
     
 }
 